<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Protractor scenario example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex">

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>
        <script src="node_modules/angular-mocks/angular-mocks.js"></script>

        <script src="js/example.js"></script>
        <script src="js/ctrl.js"></script>
        <script src="js/service.js"></script>

        <script type="text/javascript">

//            (function () {
//                angular.module('mock', ['ngMockE2E'])
//                        .run(function ($httpBackend) {
//                            $httpBackend.whenGET('/api/items').respond(['a','b', 'c']);
//                        });
//                angular.module('example').requires.push('mock');
//
//            })();
        </script>
    </head>
    <body ng-app="example">
        <div ng-controller="ctrl as vm">
            <ul>
                <li ng-repeat="item in vm.items track by $index">{{item}}</li>
            </ul>
        </div>
    </body>
</html>
